@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sofia+Sans:wght@100;400&display=swap');


:root {
    --hover: #C73E1D;
    --main: #174C76;
    --main_dark: #1c5a8d;
    --second: #008478;
}

html, body, header, nav, div, ul, li, a, section, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Righteous', cursive;
    font-family: 'Sofia Sans', sans-serif;    
    font-size: 16px;
    font-weight: 400;
}

nav, section, header {
    display: block;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    height: auto;
}

li {
    list-style-type: none;
}

/* Nav Bar CSS */
.navigation {
    
}

.nav_desktop {
}


/* Logo and account */
.nav_top {
    padding: 8px;
    background-color: var(--main);
    color: white;
}

.nav_visit:visited {
    text-decoration: none;
    color: white;
}

.nav_hover:hover {
    color: var(--hover);
    filter: brightness(150%);
}

.nav_wrapper {
    height: 56px;
}

.nav_wrapper, .nav_wrapper--top{
    margin: 0px 46.826px;
    display: flex;
    justify-content: space-between;

}


/* Nav Title Logo */
.nav_logowrapper {
    max-width: 180px;
}

.nav_logo {
    display: block;
}

#nav_logo--full {
    width: 180px;
    height: 42px;
}

/* Individual Account Options */
.nav_account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_account--login {
    border-right: 1px solid white;
    padding-right: 20px;
    margin-right: 0%;
}

.nav_account--register {
    margin-left: 0%;
    border-right: 1px solid white;
    padding-right: 20px;
}

.nav_account--login, .nav_account--register, .nav_account--mode  {
    margin: 10px;
    font-size: 12px;
}


.nav_account--language {
    margin: 10px;
}

.nav_account--language select {
    width: 100px;
}

/* Bottom nav */
.nav_bottom {
    
}

.nav_wrapper--bottom{
    background-color: var(--main_dark);
    border: 1px solid grey;
    border-bottom: none;
}


/* Nav Bottom Options */
.navcategories {
    display: flex;
    margin-left: 50px;
    height: 53px;
    align-items: center;
    flex: 1 1 0px;
}


/* Icon Margins */
.fa-file-circle-plus, .fa-list, .fa-globe, .fa-fish {
    margin-right: 5px;
}


.nav_categories--create, .nav_categories--guides, .nav_categories--community, .nav_categories--fish-types {
    /* border: 1px solid darkgrey; */
    border-bottom: none;
    border-top: none;
    height: 100%;
    width: 112px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


.nav_search-bar {
    position: absolute;
    right: 60px;
}

/* Main Page Features */
.main_wrapper {
}

#homepage {
}

/* CSS for greeting paragraph for small screens */
.wrapper_smallScreenIntro {
}

/* Guide Main Page Section */
.wrapper_guides {
    padding: 48px 0px;
    background-color: var(--second);
}

.guides { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 50px;
}

/* Left Hand side info */
.guides_info {
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 318px;
    justify-content: center;
    color: white;
}

.guides_info h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.guides_info p {
    color: lightgray;
    margin-bottom: 32px;
    padding-right: 48px;
    margin-top: 0px;
    font-size: 18px;
    text-align: justify;
}

/* Guide Button */
.button_container {
    background-color: white;
    text-align: center;
    max-width: fit-content;
    display: flex;
    align-self: center;
    margin-right: 25%;
    background-color: #7CC6FE;
}

.button_container:hover {
    background-color: #01487e;
}

.guide_button:hover {
    color: white;
}

.guide_button {
    padding: 8px 14px;
    border: 2px;
    color: black;
}

/* Guide Card Containers */
.guides_cards {
    display: flex;
    
}

.guides_cardList {
}

.guideGroup_card {
    background-color: #b27e24;
}

/* Top Part of Card */
.guideGroup_content--wrapper1 {

}

.guide_title, .guide_gallonSize {
    color: white;
    text-align: center;
}

.guide_gallonSize {
}

/* Bottom Part of Card */
.guideGroup_content--wrapper2 {
}

.guide_number {
}

.guide_images {
}

.guide_images--1 {
}

.guide_images--2 {
}

.guide_images--3 {
}

/* Guide Card Section */
.guides_cards {
}

.guides_cardList {
}

.guideGroup_card {
}

/* Main Page Community Section */
.wrapper_community {
}

.community_subTitle {
}

.subTitle_header {
}

/* Tank Submissions section */
.completed_tanks {
}

.userbuildlist {
}

/* Featured Section */
.logGroup_card--featured {
}

.featured_message {
}

.logGroup_card {
}

.logGroup_target {
}

.logGroup_content--wrapper1 {
}

/* Username Script Retrieval */
.log_author {
}

.userAvatar {
}

.log_image {
}

.log_title {
}

.log_keyProducts {
}

.build_equipment {
}

.build_specs {
}

.logGroup_content--wrapper2 {
}

.log_numbers {
}

.log_price {
}

.log_links {
}

.log_link-followers {
}

.log_link--comments {
}

/* Cards that aren't featured but still use classes above */

.logGroup {
}

.logGroup_card {
}

/* GO Community Button */
.logGroup_action {
}

.button {
}

.button--icon {
}

/* Footer */
.footer_logo {
}

.footer_logo--img {
}

.footer_column-1 {
}

.footer_main-nav {
}

.footer_column-2 {
}

.footer_secondary-nav {
}

.footer_column-3 {
}

.footer_copyright {
}

#copyright {
}